@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: #ededed;
    text-decoration: none;
    font-weight: 900;
}

.github {
    color: #ededed;
    text-decoration: none;

}

.navbar a {
    font-size: 23px;
    color: #585858;
    text-decoration: none;
    font-weight: 600;
    margin: 25px;
    align-items: center;
    opacity: 0.6;
    transition: 0.5s;
}

.navbar a:hover { 
    color: #757575;
    opacity: 1;
}


.active-button{
    color: aqua;
}



/* .navbar a:active {
    color: red;
} */





.round {
    border-radius: 9999px;
}

.small-w {
    width: 2.25rem;
}

.home  {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    color: #ededed;
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    background-image: linear-gradient(45deg, #ededed, #ff2424);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 500;
    color: #ff2424;
}

.home-content h4 {
    font-size: 25px;
    color: #ff2222;
    font-weight: 700;
}

.home-content p {
    font-size: 20px;
    color: #ededed;
}

.avatar {
    transform: rotateY(180deg);
    width: 500px;
    border-radius: 100%;
    border-color: #ff000078;
    border-style: solid;
    border-width: 10px;
    box-shadow:  0px 0px 100px #ff00007b;
}