@import url('style.css');

/* Página About */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    min-height: 100vh;
    background-color: #1a1a1a;
}

.box {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-title {
    text-align: center;
    margin-bottom: 30px;
}

.about-title h1 {
    font-size: 36px;
    color: #ff0000;
}

.hr-title {
    border: 0;
    height: 1px;
    background: #ff2222;
    margin: 10px auto;
    width: 50px;
}

.about-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.about-image {
    width: 250px;
    margin-right: 20px;
}

.about-text-container {
    max-width: 600px;
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ededed;
}
