@import url('style.css');

/* Página de Detalhe do Projeto */
.project-detail {
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}

.project-detail-content {
    text-align: center;
    max-width: 800px;
    color: #ededed;
    padding-top: 100px;
}

.project-detail-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ff2222;
}

.project-description {
    font-size: 20px;
    margin-bottom: 30px;
}

.project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.project-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-info h2 {
    font-size: 28px;
    font-weight: 600;
    color: #ff2222;
    margin-bottom: 15px;
}

.project-info ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

.project-info ul li {
    margin-bottom: 10px;
}

.project-links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.project-link {
    font-size: 18px;
    color: #ff2222;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    border: 2px solid #ff2222;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    background-color: #ff2222;
    color: #181818;
}
