/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: #ff2222;
    text-decoration: none;
    font-weight: 900;
}

.github {
    color: #ededed;
    text-decoration: none;
}

.round {
    border-radius: 9999px;
}

.small-w {
    width: 2.25rem;
}

.navbar a {
    font-size: 23px;
    color: #585858;
    text-decoration: none;
    font-weight: 600;
    margin: 25px;
    align-items: center;
    opacity: 0.6;
    transition: 0.5s;
}

.navbar a:hover { 
    color: #757575;
    opacity: 1;
}

.active-button {
    color: aqua;
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        padding: 20px 10%;
    }

    .navbar a {
        margin: 15px;
        font-size: 18px;
    }

    .home {
        padding: 0 10%;
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        margin: 0;
        max-width: 100%;
    }

    .home-content h1 {
        font-size: 48px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .home-content h4 {
        font-size: 22px;
    }

    .home-content p {
        font-size: 18px;
    }

    .avatar {
        width: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 20px 5%;
    }

    .navbar a {
        margin: 10px;
        font-size: 16px;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content h4 {
        font-size: 20px;
    }

    .home-content p {
        font-size: 16px;
    }

    .avatar {
        width: 250px;
    }
}